<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nuevo producto</title>
  </head>
  <body>
    <strong>Nuevo producto</strong>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </body>
</html>
